<div class="row">
    <div class="col-xs-4 col-xs-offset-4" id="auto-wrapper">
        <form>
            <div class="form-group">
                <label for="query-input">Google suggestions:</label>
                <input class="form-control" id="query-input" ng-model="query" type="text"
                       placeholder="Search query">
            </div>
        </form>
        <div class="suggestion-item-wrapper">
            <div class="suggestion-item" ng-click="clickItem($event)" ng-repeat="suggestion in suggestions">
                {{suggestion}}
            </div>
        </div>
    </div>
</div>