.auto-wrapper {
  position: relative;
  float: none;
}

.suggestion-item {
  padding: 5px;
  text-align: left;
  cursor: default;
}

.suggestion-item:last-child {
  border-bottom: 1px solid #ccc;
}

.suggestion-item:hover {
  background-color: #d7d7d7;
}

.suggestion-item-wrapper {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  position: relative;
  top: -16px;
}
